 #ifndef @@SUBSTITUTE_TABLE_NAME_UPPER@@_DATA_GET_H
 #define @@SUBSTITUTE_TABLE_NAME_UPPER@@_DATA_GET_H

 @@SUBSTITUTE_GENERATE_COLUMN_GET_FUNCTION_DECLARATION_FOR_ALL_COLUMNS_OF_TABLE@@

 int @@SUBSTITUTE_TABLE_NAME@@_indexes_set_tbl_idx(@@SUBSTITUTE_TABLE_NAME@@_mib_index *tbl_idx , @@SUBSTITUTE_GET_ALL_IDX_COL_DECLNS_AS_PARAMS_4_INDEXES_SET_FUNC_DEFNN@@ );

 int @@SUBSTITUTE_TABLE_NAME@@_indexes_set(@@SUBSTITUTE_TABLE_NAME@@_rowreq_ctx *rowreq_ctx , @@SUBSTITUTE_GET_ALL_IDX_COL_DECLNS_AS_PARAMS_4_INDEXES_SET_FUNC_DEFNN@@ );

 #endif