 #ifndef @@SUBSTITUTE_TABLE_NAME_UPPER@@_OIDS_H
 #define @@SUBSTITUTE_TABLE_NAME_UPPER@@_OIDS_H

 #include <sys/types.h>

 #define @@SUBSTITUTE_TABLE_NAME_UPPER@@_OID @@SUBSTITUTE_TABLE_OID@@
 @@SUBSTITUTE_GET_HASH_DEFINE_OID_OF_ALL_COL_4_TABLE@@
 #define @@SUBSTITUTE_TABLE_NAME_UPPER@@_MIN_COL COLUMN_@@SUBSTITUTE_TABLE_MIN_COL_NAME_UPPER@@
 #define @@SUBSTITUTE_TABLE_NAME_UPPER@@_MAX_COL COLUMN_@@SUBSTITUTE_TABLE_MAX_COL_NAME_UPPER@@

 #endif

